/*
Quick start theme
for designer start theming very quickly.
*/


body {background: #fff; color: #555; font-family: tahoma,Geneva,Arial,Helvetica,sans-serif; font-size: 12px;}


.content-wraper, .sidebar {margin-bottom: 18px;}


.list-posts .each-post {border-bottom: 2px solid #eee; margin-bottom: 6px; padding-bottom: 7px;}
.list-posts .each-post .entry {margin: 0 0 0 160px;}
.list-posts .each-post .post-feature-image {float: left; margin: 0 10px 0 0; max-width: 150px; position: relative;}


.navbar {background: #ccc; margin-bottom: 18px;}


.page-footer {font-size: 11px; margin-bottom: 15px;}


/* comments in post page */
.post-page .comments {border-top: 3px solid #ddd; overflow: hidden; padding-top: 10px;}
.post-page .comments .comment-add-title {font-weight: normal; margin: 15px 0 10px 0;}
.post-page .comments .comment-add-wrapper .form-item label {font-weight: bold; margin-right: 20px;}
.post-page .comments .comment-un-approve {background: #eee;}
.post-page .comments .each-comment {margin: 0 0 10px 80px; padding: 10px;}
.post-page .comments .each-comment footer {color: #777; font-size: 11px; margin-bottom: 5px;}
.post-page .comments .each-comment footer .comment-author {position: relative;}
.post-page .comments .each-comment footer .comment-author .comment-avatar {left: -90px; max-height: 90px; max-width: 70px; position: absolute;}
.post-page .comments .each-comment h3 {font-size: 15px; margin-bottom: 10px;}
.post-page .comments .each-comment p {margin-bottom: 10px; word-wrap:break-word;}
.post-page .comments .each-comment .comment-tools {font-size: 11px;}
.post-page .comments .each-comment .comment-tools ul {list-style: none; margin: 0; padding: 0; overflow: hidden;}
.post-page .comments .each-comment .comment-tools ul li {float: left; margin: 0 10px 0 0;}
.post-page .comments .indent {margin-left: 1.5em;}

/* list category, tag of post page */
.post-page .taxonomy-term {border-top: 1px solid #ddd; margin-bottom: 15px; padding-top: 10px;}
.post-page .taxonomy-term ul.items {display: block; list-style: none; margin: 0; overflow: hidden; padding: 0; width: 100%;}
.post-page .taxonomy-term ul.items > li {display: block; float: left; margin: 0; width: 50%;}
.post-page .taxonomy-term ul.items li h3 {color: #666; font-size: 15px; font-weight: normal;}
.post-page .taxonomy-term ul.items li ul {display: inline; list-style: none; margin: 0; padding: 0;}
.post-page .taxonomy-term ul.items li ul li {display: inline; margin: 0; padding: 0;}
.post-page .taxonomy-term ul.items li ul li:before {content: ', ';}
.post-page .taxonomy-term ul.items li ul li:first-child:before {content: '';}


.site-name {font-size: 19px; font-weight: bold; margin-bottom: 18px; padding: 0;}


/* error, success, comment, alert styles */
.txt_comment {color: #aaa; font-size: 11px;}
.txt_error {background: #ffecec; border:2px solid #ffc4c4; color:#f00; font-weight: bold; margin: 0 0 10px 0; padding: 3px;}
.txt_require {color: #f00; font-weight: bold;}
.txt_success {background: #f7fff2; border: 2px solid #8bfa49; color: #307f00; margin: 0 0 10px 0; padding: 3px;}


/* language switch block */
.area-sidebar .each-block .language-switch-block {display: block; color: #ff4200; cursor: pointer; list-style: none; margin: 0 0 8px 0; position: relative; text-transform:capitalize; width: auto;}
.area-sidebar .each-block .language-switch-block li {margin: 0; padding: 0;}
.area-sidebar .each-block .language-switch-block li:hover > ul {display: block;}
.area-sidebar .each-block .language-switch-block .lang-switch {display: none; list-style: none; left: 0; margin: 0; padding: 0; position: absolute; top: 18px; z-index: 5;}
.area-sidebar .each-block .language-switch-block .lang-switch li {background: #f5f5f5; box-shadow: 1px 3px 2px #aaa; margin: 0; padding: 5px;}


/* navigation block */
.area-navigation ul {display: block; list-style: none; margin: 0; overflow: visible; width: 100%;}
.area-navigation ul li {float: left; line-height: 20px; list-style: none; margin: 0 5px; padding: 5px 10px 5px 10px; position: relative;}
.area-navigation ul li a {color: #000; display: block; text-decoration: none;}
.area-navigation ul li:hover {background: rgba(0,0,0,0.1);}
.area-navigation ul li:hover > ul {display: block;}
.area-navigation ul ul {box-shadow: 0px 3px 3px rgba(0,0,0,0.2); display: none ; float: left; left:0; margin-left: 0; position: absolute; top: 30px; width: 180px; z-index: 999999;}
.area-navigation ul ul li {background: #bababa !important; margin: 0; min-width: 160px;}
.area-navigation ul ul li:hover {background: #aaa !important;}
.area-navigation ul ul ul {left: 100%; top: 0;}

/* article tools (edit, delete article) */
.each-post:hover > .article-tools {display: block;}
.post-page:hover > .article-tools {display: block;}
.article-tools {display: none; height: 0; margin: 0; padding: 0; position: relative;}
.article-tools .tools-start {background: url('images/web-icons.png') -112px -20px no-repeat; cursor: pointer; height: 16px; position: absolute; right: 0; width: 16px; z-index: 5;}
.article-tools .tools-start:hover {background: url('images/web-icons.png') -112px -36px no-repeat;}
.article-tools .tools-start:hover > .tools-container {display: block;}
.article-tools .tools-start .tools-container {display: none; height:16px; padding-top: 3px; position: relative;}
.article-tools .tools-start ul {background: #eee; border-radius: 5px; box-shadow: 0 1px 3px #555; list-style: none; margin: 16px 0 0 0; padding: 0; width: 26px;}
.article-tools .tools-start ul li {margin: 0; padding: 5px 5px 0 5px;}
.article-tools .tools-start ul li:last-child {padding-bottom: 3px;}